<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IETBOSSService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IETBOSSService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ETBOSSService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IETBOSSService" contract="ETBOSSService.IETBOSSService"
                name="BasicHttpBinding_IETBOSSService" />
            <endpoint address="net.tcp://localhost:8090/ETBOSSService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IETBOSSService" contract="ETBOSSService.IETBOSSService"
                name="NetTcpBinding_IETBOSSService">
                <identity>
                    <userPrincipalName value="DESKTOP-JFVMN7V\Chanlan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>